<div id="examples">
  <h2>Example</h2>
  <div class="example-1">
    <form>
      <div class="form-group">
        <label>Enter a search term:</label>
        <input class="form-control" v-model="example1Form.searchTerm">
      </div>
      <div class="form-group">
        <label>Iframe URL:</label>
        <input class="form-control" :value="example1Form.src + '/' + example1Form.searchTerm" readonly="readonly">
      </div>
    </form>
    <div class="iframe-wrapper">
      <div class="iframe-loading" v-if="iframeLoading">
        iframe loading...
      </div>
      <vue-friendly-iframe ref="iframeEl" :style="{ 'display' : iframeLoading ? 'none' : 'block' }" :src="example1Form.src + '/' + example1Form.searchTerm" @load="onLoad" @iframe-load="onIframeLoad" frameborder="0" gesture="media" allow="encrypted-media"></vue-friendly-iframe>
    </div>
  </div>
</div>
