<aside id="sidebar">
  <ul>
    <li>
      <router-link activeClass="active" :to="{ name : 'Home' }">
        Intro
      </router-link>
    </li>
    <li>
      <router-link activeClass="active" :to="{ name : 'Install' }">
        Installation &amp; Usage
      </router-link>
    </li>
    <li>
      <router-link activeClass="active" :to="{ name : 'Options' }">
        Options
      </router-link>
    </li>
    <li>
      <router-link activeClass="active" :to="{ name : 'Events' }">
        Events
      </router-link>
    </li>
    <li>
      <router-link activeClass="active" :to="{ name : 'Examples' }">
        Example
      </router-link>
    </li>
  </ul>
</aside>
