<div id="install">
  <h2>Installation</h2>
  <div>
    <pre class="highlight">npm install vue-friendly-iframe --save-dev</pre>
  </div>
  <h2>Usage</h2>
  <p>
    1) Register the Vue Friendly Iframe component:
  </p>
  <div>
    <pre class="highlight">import Vue from 'vue';
import VueFriendlyIframe from 'vue-friendly-iframe';

Vue.use(VueFriendlyIframe);</pre>
    <p>
      2) In your HTML add the component:
    </p>
    <div>
      <pre class="highlight">&lt;vue-friendly-iframe :src="example1Form.src" @load="onLoad"&gt;&lt;/vue-friendly-iframe&gt;</pre>
    </div>
  </div>
</div>
