<div id="home">
  <h2>Intro</h2>
  <div>
    <p>
      Dynamic asnyc iframes are a technique for creating non-blocking, super fast loading iframes. Fast loading iframes are essential for building embedded widgets.
    </p>
    <p>
      For a full description of dynamic asnyc iframes take a look at this article written by Aaron Peters:
      <a href="https://www.aaronpeters.nl/blog/iframe-loading-techniques-and-performance/" target="_blank">https://www.aaronpeters.nl/blog/iframe-loading-techniques-and-performance/</a>
    </p>
  </div>
</div>
