<div id="home">
  <section class="page-header">
    <div class="logo">
      <img src="https://vuejs.org/images/logo.png" />
    </div>
    <h1 class="project-name">
      vue-friendly-iframe
    </h1>
    <h2 class="project-tagline">
      Vue.js component for creating dynamic async iframes.
    </h2>
    <div>
      <a href="https://github.com/officert/vue-friendly-iframe" class="btn">View on GitHub</a>
      <a href="https://github.com/officert/vue-friendly-iframe/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/officert/vue-friendly-iframe/tarball/master" class="btn">Download .tar.gz</a>
    </div>
  </section>
  <section class="main-content">
    <h2 style="margin-top: 2rem">Description</h2>
    <div>
      <p>
        Dynamic asnyc iframes are a technique for creating non-blocking, super fast loading iframes. Fast loading iframes are essential for building embedded widgets.
      </p>
      <p>
        For a full description of dynamic asnyc iframes take a look at this article written by Aaron Peters:
        <a href="http://www.aaronpeters.nl/blog/iframe-loading-techniques-performance?%3E#dynamic" target="_blank">http://www.aaronpeters.nl/blog/iframe-loading-techniques-performance?%3E#dynamic</a>
      </p>
    </div>
    <h2>Installation</h2>
    <div class="highlight">
      <pre class="highlight">npm install vue-friendly-iframe --save-dev</pre>
    </div>
    <p>
      1) Download from NPM
    </p>
    <h2>Usage</h2>
    <p>
      1) Register the Vue Friendly Iframe component:
    </p>
    <div class="highlight">
      <pre class="highlight">import Vue from 'vue';
import VueFriendlyIframe from 'vue-friendly-iframe';

Vue.component('vue-friendly-iframe', VueFriendlyIframe);</pre>
      <p>
        2) In your HTML add the component:
      </p>
      <div class="highlight">
        <pre class="highlight">&lt;vue-friendly-iframe :src="example1Form.src" @load="onLoad" &gt;&lt;/vue-friendly-iframe&gt;</pre>
      </div>
    </div>
    <h2>Example</h2>
    <div class="example-1">
      <form>
        <div class="form-group">
          <label>Enter a search term:</label>
          <input class="form-control" v-model="example1Form.searchTerm">
        </div>
        <div class="form-group">
          <label>Iframe URL:</label>
          <input class="form-control" :value="example1Form.src + '/' + example1Form.searchTerm" readonly="readonly">
        </div>
      </form>
      <div class="iframe-wrapper">
        <div class="iframe-loading" v-if="iframeLoading">
          iframe loading...
        </div>
        <vue-friendly-iframe :style="{ 'display' : iframeLoading ? 'none' : 'block' }" :src="example1Form.src + '/' + example1Form.searchTerm" @load="onLoad"></vue-friendly-iframe>
      </div>
    </div>
  </section>
</div>
